@model IEnumerable<MeetUs.Models.Spot>

@{
    ViewBag.Title = "Index";
}

<h2>Hot Spots</h2>

<button type="button" class="btn btn-primary">
    @Html.ActionLink("Create New", "Create")
</button>
    <div class="panel panel-default">
        <div class="panel-heading">Panel heading</div>
        <div class="panel-body">
            <table>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.DateAdded)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.DateAdded)
                        </td>
                        <td>
                            @Html.ActionLink("Join", "Join", new { id = item.SpotId })
                            @Html.ActionLink("Details", "Details", new { id = item.SpotId })
                            @if (User.IsInRole("Administrator"))
                            {
                                @Html.ActionLink("Edit", "Edit", new { id = item.SpotId })
                                @Html.ActionLink("Delete", "Delete", new { id = item.SpotId })
                            }
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
