<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - Meet Us</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
        @RenderSection("scripts", required: false)
    </head>
    <body>
        <div class="row clearfix">
            <div class="col-md-12 column" style="padding: 40px">
                <nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="#">MEET US</a>
                    </div>

                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav">
                            <li>
                                @Html.ActionLink("Home", "Index", "Home")
                            </li>
                            <li>
                                @Html.ActionLink("Spots", "Index", "Spot")
                            </li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right">
                            <li>
                                @Html.Partial("_LoginPartial")
                            </li>
                        </ul>
                    </div>

                </nav>
                <h2 class="text-center">
                    MEET US
                </h2>
                <h3 class="text-center">
                    We'll meet you at your favorite spot!
                </h3>
                <div class="alert alert-dismissable alert-info text-center">
                    <button type="button" class="close" data-dismiss="alert">&times;</button>
                    <strong>HOW TO MEET US:</strong> Add a spot to your list of favorite hangouts. Meet other users who visit the same spot - mingle!

                </div>
                @RenderBody()
            </div>
            </div>


</body>
</html>
